<!-- Footer -->
<footer class="site-footer">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                
                <div class="col-xl-3 col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="widget widget_about me-2">
                        <div class="footer-logo logo-white">
                            <a href="index.html"><img src="./static/images/logo.svg" alt=""></a> 
                        </div>
                        <ul class="widget-address">
                            <li>
                                <p><span>Address</span> : 451 Wall Street, UK, London</p>
                            </li>
                            <li>
                                <p><span>E-mail</span> : <a href="mailto:hello@salesnet.co" class="__cf_email__" data-cfemail="0f6a776e627f636a4f66616960216c6062">[email&#160;protected]</a></p>
                            </li>
                            <li>
                                <p><span>Phone</span> : (234) 8138958645</p>
                            </li>
                        </ul>
                        <div class="subscribe_widget">
                            <h6 class="title fw-medium text-capitalize">subscribe to our newsletter</h6>	
                            <form class="dzSubscribe style-1" action="./static/script/mailchamp.html" method="post">
                                <div class="dzSubscribeMsg"></div>
                                <div class="form-group">
                                    <div class="input-group mb-0">
                                        <input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email Address">
                                        <div class="input-group-addon">
                                            <button name="submit" value="Submit" type="submit" class="btn">
                                                <i class="icon feather icon-arrow-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="widget widget_post">
                        <h5 class="footer-title">Recent Posts</h5>
                        <ul>
                            <li>
                                <div class="dz-media">
                                    <img src="./static/images/shop/product/small/1.png" alt="">
                                </div>
                                <div class="dz-content">
                                    <h6 class="name"><a href="./static/post-standard.html">Cozy Knit Cardigan Sweater</a></h6>
                                    <span class="time">July 23, 2023</span>
                                </div>
                            </li>
                            <li>
                                <div class="dz-media">
                                    <img src="./static/images/shop/product/small/2.png" alt="">
                                </div>
                                <div class="dz-content">
                                    <h6 class="name"><a href="./static/post-standard.html">Sophisticated Swagger Suit</a></h6>
                                    <span class="time">July 23, 2023</span>
                                </div>
                            </li>
                            <li>
                                <div class="dz-media">
                                    <img src="./static/images/shop/product/small/3.png" alt="">
                                </div>
                                <div class="dz-content">
                                    <h6 class="name"><a href="./static/post-standard.html">Athletic Mesh Sports Leggings</a></h6>
                                    <span class="time">July 23, 2023</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-3 col-md-3 col-sm-4 col-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="widget widget_services">
                        <h5 class="footer-title">Know Us</h5>
                        <ul>
                            <li><a href="javascript:void(0);">Privacy Policy</a></li>
                            <li><a href="javascript:void(0);">Returns</a></li>
                            <li><a href="javascript:void(0);">Terms & Conditions</a></li>
                            <li><a href="javascript:void(0);">Contact Us</a></li>
                            <li><a href="javascript:void(0);">Latest News</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Footer Top End -->
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row fb-inner wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6 col-md-12 text-start"> 
                    <p class="copyright-text">© <span class="current-year">2024</span> <a href="https://www.techa.tech/">Techa . Russian Developers</a>. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 col-md-12 text-end"> 
                    <div class="d-flex align-items-center justify-content-center justify-content-md-center justify-content-xl-end">
                        <span class="me-3">We Accept: </span>
                        <img src="./static/images/footer-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->
</footer>
<!-- Footer End -->