
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<!-- Title -->
<title>Salesnet . Internet of sales.</title>
<link rel="canonical" href="https://salesnet.co" />

<!-- Meta -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="Techa . Russian Developers">
<meta name="robots" content="index, follow">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="template, ui kit, clothing, delivery, ecommerce, fashion, order, shopping, store, fashion design, fashion store, responsive design, fashion showcase, modern design, fashion technology, e-shop, ecommerce web, eCommerce Website, minimal shop, online shop, online shopping, Salesnet, user experience, Design Elements, Trendy, Stylish, User-Friendly, Navigation, Product Display, Branding, Development, Visual Design, UI/UX, Website, Web Design">
<meta name="description" content="Elevate your online retail presence with Salesnet Shop & eCommerce HTML Template. Crafted with precision, this responsive and feature-rich template provides a seamless and visually stunning shopping experience. Explore a world of possibilities with modern design elements, intuitive navigation, and customizable features. Transform your website into a dynamic online storefront with Salesnet, where style meets functionality for a captivating and user-friendly eCommerce journey.">
<meta property="og:title" content="Salesnet: Shop & eCommerce Bootstrap HTML Template | Techa . Russian Developers">
<meta property="og:description" content="Elevate your online retail presence with Salesnet Shop & eCommerce HTML Template. Crafted with precision, this responsive and feature-rich template provides a seamless and visually stunning shopping experience. Explore a world of possibilities with modern design elements, intuitive navigation, and customizable features. Transform your website into a dynamic online storefront with Salesnet, where style meets functionality for a captivating and user-friendly eCommerce journey.">
<meta property="og:image" content="./static/social-image.png">

<!-- TWITTER META -->
<meta name="twitter:title" content="Salesnet: Welcome to internet of sales | Techa . Russian Developers">
<meta name="twitter:description" content="Elevate your online retail presence with Salesnet Shop & eCommerce HTML Template. Crafted with precision, this responsive and feature-rich template provides a seamless and visually stunning shopping experience. Explore a world of possibilities with modern design elements, intuitive navigation, and customizable features. Transform your website into a dynamic online storefront with Salesnet, where style meets functionality for a captivating and user-friendly eCommerce journey.">
<meta name="twitter:image" content="./static/social-image.png">
<meta name="twitter:card" content="summary_large_image">
<!-- FAVICONS ICON -->
<link rel="icon" type="image/x-icon" href="./static/images/logo.svg">

<!-- MOBILE SPECIFIC -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- STYLESHEETS -->
<link rel="stylesheet" type="text/css" href="./static/icons/iconly/index.min.css">
<link rel="stylesheet" type="text/css" href="./static/vendor/magnific-popup/magnific-popup.min.css">	
<link rel="stylesheet" type="text/css" href="./static/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="./static/vendor/swiper/swiper-bundle.min.css">
<link rel="stylesheet" type="text/css" href="./static/vendor/nouislider/nouislider.min.css">
<link rel="stylesheet" type="text/css" href="./static/vendor/animate/animate.css">
<link rel="stylesheet" type="text/css" href="./static/vendor/lightgallery/dist/css/lightgallery.css" >
<link rel="stylesheet" type="text/css" href="./static/vendor/lightgallery/dist/css/lg-thumbnail.css">
<link rel="stylesheet" type="text/css" href="./static/vendor/lightgallery/dist/css/lg-zoom.css">
<link rel="stylesheet" type="text/css" href="./static/vendor/slick/slick.css">

<!-- Custom Stylesheet -->
<link class="main-css" rel="stylesheet" type="text/css" href="./static/css/style.css">
<link class="skin" type="text/css" rel="stylesheet" href="./static/css/skin/skin-1.css">
<link class="skin" type="text/css" rel="stylesheet" href="./static/css/mobile_styles.css">

<!-- GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">