{% extends 'base.html' %}
{% block title %}Ecom{% endblock title %}
{% block content %}
<div class="content-wrapper">
	<div class="error-wrap pt-100 pb-100 mt-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="error-content">
						<img src="{{url_for('static', filename='img/404.png')}}" alt="Iamge">
						<h2>Oops! Page Not Found</h2>
						<p>The page you are looking for might have been removed had its name changed or is
							temporarily unavailable.</p>
						<a href="/" class="btn style1">Back To Home</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include 'incs/newsleta.html' %}
{% endblock content %}